<div class="grid">
    <div class="col-12">



        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Registrar empleado" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedEmpleados()" [disabled]="!selectedEmpleados || !selectedEmpleados.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
                    <button pButton pRipple label="Descargar informe" icon="pi pi-upload" class="p-button-help"></button> <!--(click)="dt.exportCSV()-->
                </ng-template>
            </p-toolbar>
        

            <p-table #dt [value]="Empleados" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['nombre_empleado', 'documento', 'direccion', 'telefono']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [(selection)]="selectedEmpleados" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5 class="m-0">Empleados registrados</h5>
                    <span class="block mt-2 md:mt-0 p-input-icon-left">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar ..."  class="w-full sm:w-auto"/>
                    </span>
                  </div>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th>Nombre Empleado</th>
                    <th>Documento</th>
                    <th>Télefono</th>
                    <th>Dirección</th>
                    <th pSortableColumn="estado">Estado <p-sortIcon field="Estado"></p-sortIcon></th>
                    <th></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-Empleado>
                  <tr>
                    <td>
                      <p-tableCheckbox [value]="Empleado" binary="true"></p-tableCheckbox>
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">nombre</span>
                      {{Empleado.nombre}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Documento</span>
                      {{Empleado.documento}}
                    </td>
                    <td style="width:14%; min-width:8rem;">
                      <span class="p-column-title">Telefono</span>
                      {{Empleado.telefono}}
                    </td>
                    <td style="width:14%; min-width:10rem;">
                      <span class="p-column-title">Direccion</span>
                      {{Empleado.direccion}}
                    </td>
                    <td style="width:14%; min-width: 10rem;">
                      <span class="p-column-title">Estado</span>
                      <span [class]="'Empleado-badge status-' + (Empleado.Estado ? Empleado.Estado.toLowerCase() : '')">{{ Empleado.estado === 1 ? "Activo" : "Inactivo"}}</span>
                    </td>
                    <td>
                      <div class="flex">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmpleado(Empleado)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmpleado(Empleado)"></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

        </div>


          <!--Guardar empleado-->
        <p-dialog [(visible)]="EmpleadoDialog" [style]="{width: '480px'}" header="Empleado Detalle" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <form [formGroup]="empleadosForm">
          

                <div class="formgroup-inline">

                    <div class="field">
                      <input type="text" placeholder="Nombre empleado" pInputText id="nombre" formControlName="nombre" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('nombre')?.invalid}" />
                      <div *ngIf="submitted && empleadosForm.get('nombre')?.invalid" class="p-error">
                        Este campo es obligatorio.
                      </div>
                    </div>
                    
                    <div class="field">
                      <input type="text" placeholder="Documento" pInputText id="documento" formControlName="documento" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('documento')?.invalid}" />
                      <div *ngIf="submitted && empleadosForm.get('documento')?.invalid" class="p-error">
                        Este campo es obligatorio.
                      </div>
                    </div>
                
                </div>

                <div class="formgroup-inline">

                <div class="field">
                  <input type="text" placeholder="Télefono" pInputText id="telefono" formControlName="telefono" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('telefono')?.invalid}" />
                  <div *ngIf="submitted && empleadosForm.get('telefono')?.invalid" class="p-error">
                    Este campo es obligatorio.
                  </div>
                </div>

                
                <div class="field">
                    <p-dropdown formControlName="estado" id="estado" [options]="statuses" placeholder="Seleccionar estado"></p-dropdown>
                  </div>

             
            </div>

            <div class="formgroup-inline">

                <div class="field">
                    <input type="text" placeholder="Dirección" pInputText id="direccion" formControlName="direccion" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('direccion')?.invalid}" />
                    <div *ngIf="submitted && empleadosForm.get('direccion')?.invalid" class="p-error">
                      Este campo es obligatorio.
                    </div>
                  </div>
              

            </div>

              </form>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="p-dialog-footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="empleadosForm.invalid" (click)="saveEmpleado()"></button>
              </div>
            </ng-template>
          </p-dialog>
          
    

          <!--Editar empleado-->
          <p-dialog [(visible)]="EditarEmpleadoDialog" [style]="{width: '480px'}" header="Empleado Detalle" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
              <form [formGroup]="empleadosForm">

                <div class="formgroup-inline">

                <div class="field">
                  <input type="text" placeholder="Nombre empleado" pInputText id="nombre" formControlName="nombre" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('nombre')?.invalid} "  />
                  <div *ngIf="submitted && empleadosForm.get('nombre')?.invalid" class="p-error">
                    Este campo es obligatorio.
                  </div>
                </div>

                <div class="field">
                  <input type="text" placeholder="Documento" pInputText id="documento" formControlName="documento" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('documento')?.invalid}" />
                  <div *ngIf="submitted && empleadosForm.get('documento')?.invalid" class="p-error">
                    Este campo es obligatorio.
                  </div>
                </div>

            </div>

            <div class="formgroup-inline">

                <div class="field">
                  <input type="text" placeholder="Télefono" pInputText id="telefono" formControlName="telefono" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('telefono')?.invalid}" />
                  <div *ngIf="submitted && empleadosForm.get('telefono')?.invalid" class="p-error">
                    Este campo es obligatorio.
                  </div>
                </div>
                <div class="field">
                    <p-dropdown formControlName="estado" id="estado" [options]="statuses" placeholder="Seleccionar estado"></p-dropdown>
                </div>
           

            </div>

            <div class="formgroup-inline">

                <div class="field">
                    <input type="text" placeholder="Dirección" pInputText id="direccion" formControlName="direccion" required autofocus [ngClass]="{'p-invalid': submitted && empleadosForm.get('direccion')?.invalid}" />
                    <div *ngIf="submitted && empleadosForm.get('direccion')?.invalid" class="p-error">
                      Este campo es obligatorio.
                    </div>
                  </div>
            </div>

              </form>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="p-dialog-footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" [disabled]="empleadosForm.invalid" (click)="updateEmpleado()"></button>
              </div>
            </ng-template>
          </p-dialog>



        <p-dialog [(visible)]="deleteEmpleadoDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Estás seguro de que quieres eliminarlo?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmpleadoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>



        <p-dialog [(visible)]="deleteEmpleadosDialog" header="Confirmación" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Estás seguro de eliminar los empleados seleccionados?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmpleadosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

      
    </div>
</div>
