<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Registrar cotizacion"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
              ></button>
              <button
                pButton
                pRipple
                label="Eliminar"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteselectedCotizaciones()"
                [disabled]="!selectedCotizaciones || !selectedCotizaciones.length"
              ></button>
            </div>
          </ng-template>
  
          <ng-template pTemplate="right">
            <button
              pButton
              pRipple
              label="Descargar informe"
              icon="pi pi-upload"
              class="p-button-help"
            ></button>
          </ng-template>
        </p-toolbar>
  
        <p-table
          #dt
          [value]="Cotizacions"
          [columns]="cols"
          responsiveLayout="scroll"
          [rows]="10"
          [globalFilterFields]="['nombre_cotizacion', 'categoria']"
          [paginator]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [(selection)]="selectedCotizaciones"
          selectionMode="multiple"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <h5 class="m-0">cotizaciones registradas</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter(dt, $event)"
                  placeholder="Buscar ..."
                  class="w-full sm:w-auto"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Cliente</th>
              <th pSortableColumn="estado">Estado</th>
              <th>Fecha inicio</th>
              <th>Fecha vencimiento</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cotizacion>
            <tr>
              <td>
                <p-tableCheckbox
                  [value]="cotizacion"
                  binary="true"
                ></p-tableCheckbox>
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">nombre_cliente</span>
                {{ cotizacion.nombre_cliente }}
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">Estado</span>
                <span [class]="'cotizacion-badge status-' + (cotizacion.estado ? cotizacion.estado.toString().toLowerCase() : '')">{{ cotizacion.estado === 1 ? "Activo" : "Inactivo"}}</span>
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">fecha_inicio</span>
                {{ cotizacion.fecha_inicio }}
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">fecha_vencimiento</span>
                {{ cotizacion.fecha_vencimiento }}
              </td>
              <td>
                <div class="flex">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editCotizacion(cotizacion)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteCotizacion(cotizacion)"
                  ></button>
                </div>
              </td>
            </tr>
          
          </ng-template>
        </p-table>
      </div>
  
 


      <!--Delete dialogs-->
      <p-dialog
        [(visible)]="deleteCotizacionDialog"
        header="Confirmación"
        [modal]="true"
        [style]="{ width: '450px' }"
      >
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>¿Estás seguro de que quieres eliminarlo?</span>
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteCotizacionDialog = false"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Si"
            (click)="confirmDelete()"
          ></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog
        [(visible)]="deleteCotizacionesDialog"
        header="Confirmación"
        [modal]="true"
        [style]="{ width: '450px' }"
      >
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>¿Estás seguro de eliminar los cotizaciones seleccionados?</span>
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteCotizacionesDialog = false"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Si"
            (click)="confirmDeleteSelected()"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
  