<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Registrar rol"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
              ></button>
              <button
                pButton
                pRipple
                label="Eliminar"
                icon="pi pi-trash"
                class="p-button-danger"
                (click)="deleteselectedRoles()"
                [disabled]="!selectedRoles || !selectedRoles.length"
              ></button>
            </div>
          </ng-template>
  
          <ng-template pTemplate="right">
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload> -->
            <button
              pButton
              pRipple
              label="Descargar informe"
              icon="pi pi-upload"
              class="p-button-help"
            ></button>
            <!--(click)="dt.exportCSV()-->
          </ng-template>
        </p-toolbar>
  
        <p-table
          #dt
          [value]="Rols"
          [columns]="cols"
          responsiveLayout="scroll"
          [rows]="10"
          [globalFilterFields]="['nombre_rol', 'categoria']"
          [paginator]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [(selection)]="selectedRoles"
          selectionMode="multiple"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <h5 class="m-0">Roles Registrados</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="onGlobalFilter(dt, $event)"
                  placeholder="Buscar ..."
                  class="w-full sm:w-auto"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Nombre rol</th>
              <th pSortableColumn="estado">Estado</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Rol>
            <tr>
              <td>
                <p-tableCheckbox
                  [value]="Rol"
                  binary="true"
                ></p-tableCheckbox>
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">nombre_rol</span>
                {{ Rol.nombre_rol }}
              </td>
              <td style="width: 14%; min-width: 10rem">
                <span class="p-column-title">Estado</span>
                <span [class]="'Rol-badge status-' + (Rol.Estado ? Rol.Estado.toString().toLowerCase() : '')">{{ Rol.estado === 1 ? "Activo" : "Inactivo"}}</span>
              </td>

              <td>
                <div class="flex">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="editRol(Rol)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteRol(Rol)"
                  ></button>
                </div>
              </td>
            </tr>
          
          </ng-template>
        </p-table>
      </div>
  
      <!--Guardar Rol-->
      <p-dialog
        [(visible)]="RolDialog"
        [style]="{width: '480px', height: '700'}"
        header="Detalle rol "
        [modal]="true"
        class="p-fluid"
      >
        <ng-template pTemplate="content">
          <form [formGroup]="RolsForm">

            <div class="formgroup-inline mb-3">

              <div class="field">
                <input
                  type="text"
                  placeholder="Nombre Rol"
                  pInputText
                  id="nombre_rol"
                  formControlName="nombre_rol"
                  required
                  autofocus
                  [ngClass]="{
                    'p-invalid':
                      submitted && RolsForm.get('nombre_rol')?.invalid
                  }"
                />
                <div
                  *ngIf="
                    submitted && RolsForm.get('nombre_rol')?.invalid
                  "
                  class="p-error"
                >
                  Este campo es obligatorio.
                </div>
              </div>
  
              <div class="field">
                <p-dropdown
                  formControlName="estado"
                  id="estado"
                  [options]="statuses"
                  placeholder="Seleccionar estado"
                ></p-dropdown>
              </div>



            </div>
            
            <div class="formgroup-inline">
              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Roles:</label>
            
              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Usuarios:</label>

            </div>

            <div class="formgroup-inline">

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Materiales:</label>

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Servicios:</label>

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Empleados:</label>

          </div>


            <div class="formgroup-inline">

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Clientes:</label>
            
              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Solicitudes:</label>

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Cotizaciones:</label>

              <p-inputSwitch formControlName="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Obras:</label>

            </div>
            
          </form>
        </ng-template>
        
        <ng-template pTemplate="footer">
            <div class="p-dialog-footer">
              <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
              ></button>
              <button
                pButton
                pRipple
                label="Guardar"
                icon="pi pi-check"
                class="p-button-text"
                [disabled]="RolsForm.invalid"
                (click)="updateRol()"
              ></button>
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="p-dialog-footer">
              <button
                pButton
                pRipple
                label="Cancelar"
                icon="pi pi-times"
                class="p-button-text"
                (click)="hideDialog()"
              ></button>
              <button
                pButton
                pRipple
                label="Guardar"
                icon="pi pi-check"
                class="p-button-text"
                (click)="saveRol()"
              ></button>
            </div>
          </ng-template>
      </p-dialog>
  
      <!--Editar Rol-->
      <p-dialog
        [(visible)]="EditarRolDialog"
        [style]="{ width: '480px' }"
        header="Detalle rol "
        [modal]="true"
        class="p-fluid"
      >
        <ng-template pTemplate="content">
          <form [formGroup]="RolsForm">
            <div class="formgroup-inline">
              <div class="field">
                <input
                  type="text"
                  placeholder="Nombre Rol"
                  pInputText
                  id="nombre_rol"
                  formControlName="nombre_rol"
                  required
                  autofocus
                  [ngClass]="{
                    'p-invalid':
                      submitted && RolsForm.get('nombre_rol')?.invalid
                  }"
                />
                <div
                  *ngIf="
                    submitted && RolsForm.get('nombre_rol')?.invalid
                  "
                  class="p-error"
                >
                  Este campo es obligatorio.
                </div>
              </div>
             

              <div class="field">
                <p-dropdown
                  formControlName="estado"
                  id="estado"
                  [options]="statuses"
                  placeholder="Seleccionar estado"
                ></p-dropdown>
              </div>
            </div>
            
            <div class="formgroup-inline">
              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Roles:</label>
            
              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Usuarios:</label>

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Materiales:</label>

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Servicios:</label>

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Empleados:</label>

            </div>


            <div class="formgroup-inline">

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Clientes:</label>
            
              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Solicitudes:</label>

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Cotizaciones:</label>

              <p-inputSwitch [(ngModel)]="valSwitch" class="p-mr-2"></p-inputSwitch>
              <label for="switchId">Obras:</label>

            </div>
          </form>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="p-dialog-footer">
            <button
              pButton
              pRipple
              label="Cancelar"
              icon="pi pi-times"
              class="p-button-text"
              (click)="hideDialog()"
            ></button>
            <button
              pButton
              pRipple
              label="Guardar"
              icon="pi pi-check"
              class="p-button-text"
              [disabled]="RolsForm.invalid"
              (click)="updateRol()"
            ></button>
          </div>
        </ng-template>
      </p-dialog>
  
      <p-dialog
        [(visible)]="deleteRolDialog"
        header="Confirmación"
        [modal]="true"
        [style]="{ width: '450px' }"
      >
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>¿Estás seguro de que quieres eliminarlo?</span>
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteRolDialog = false"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Si"
            (click)="confirmDelete()"
          ></button>
        </ng-template>
      </p-dialog>
  
      <p-dialog
        [(visible)]="deleteRolesDialog"
        header="Confirmación"
        [modal]="true"
        [style]="{ width: '450px' }"
      >
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span>¿Estás seguro de eliminar los roles seleccionados?</span>
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteRolesDialog = false"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Si"
            (click)="confirmDeleteSelected()"
          ></button>
        </ng-template>
      </p-dialog>
    </div>
  </div>
  